/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
  padding: 0;
 }

 .container {
  width: 500px;
  margin: 32px auto;
 }

 .nav {
  display: flex;
  background-color: rgb(220, 220, 220);
  justify-content: space-between;
  padding: 16px 25px;
  font-size: 18px;
  font-family: sans-serif;
 }

 .nav a {
  text-decoration: none;
  color: grey;
 }

 .nav a:hover {
  cursor: pointer;
  color: black;
 }

 ul {
  list-style: none;
 }

 ul li {
  margin: 18px 0;
 }

 ul li p{
  margin: 10px 0;
 }

 ul li p:first-child{
  font-size: 32px;
 }

 ul li p:last-child{
  font-size: 20px;
  font-family: sans-serif;
 }

 .container a {
  text-decoration: none;
  color: rgb(63, 63, 186);
  font-weight: 500;
 }

 .container a:hover {
  text-decoration: underline;
  color: rgb(43, 43, 146);
 }

 .container > p {
  margin: 16px 0;
 }
